<%-include("partials/header")-%>
<br>
<br>
<br>
<br>
<div style="padding: 0px 50px;">
    <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/6/8/eff01060-f706-468d-b97c-95cdf43174f91528443826867-Desktop-Home-Banner.jpg" alt="" style="width: 100% ;">
</div>
<div>
    <div class="row">
<div class="column" style="width: 70%;">
    <div style="padding-top: 60px;">
<div style="margin-left: 80px;">
   <h3> NICE TO SEE YOU, COME ON IN! </h3>
</div>
<div class="row"  style="margin-left: 80px;padding-right: 15px;">
    <div class="column1 zoom" style="padding: 30px 5px 30px 0px;">
       <div>
        <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563660020-bed.jpg" alt="" srcset="" style="width: 100%;">
       </div>
    </div>
    <div class="column1 zoom" style="padding: 30px 5px 30px 0px;">
<div>
        <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563782565-furnishings.jpg" alt="" srcset=""style="width: 100%;">
       </div>
    </div>
</div>
<div class="row"  style="margin-left: 80px;padding-right: 15px;">
    <div class="column1 zoom" style="padding: 30px 5px 30px 0px;">
     <div> 
        <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563810789-art-n-decor.jpg" alt="" srcset="" style="width: 100%;"> 
       </div>
    </div>
    <div class="column1 zoom" style="padding: 30px 5px 30px 0px;">
<div>
<img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563866590-lamps.jpg" alt="" srcset="" style="width: 100%;">
       </div>
</div>
</div>
<div class="row"  style="margin-left: 80px;padding-right: 15px;">
    <div class="column1 zoom" style="padding: 30px 5px 30px 0px;">
<div>
        <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563925069-kitchen.jpg" alt="" style="width: 100%;"> 
      </div>
    </div>
    <div class="column1 zoom" style="padding: 30px 5px 30px 0px;">
<div>
        <img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563958962-bath.jpg" alt="" style="width: 100%;">
       </div>
    </div>
</div>
    </div>
</div>
<div class="column" style="width: 30%;" >
    <div style="padding-left: 25px;">
<div style="padding: 15px 0px;">
   <h5> Furnishings & Bed Linen </h5>
</div>
<p class="margintop"> Bed Sheets </p>
<p class="margintop"> Bedding Sets & Bed Covers </p>
<p class="margintop"> Blankets, Quilts & Dohars </p>
<p class="margintop"> Pillows & Pillow Covers </p>
<p class="margintop"> Cushions & Cushion Covers </p>
<p class="margintop"> Curtains </p>
<p class="margintop"> Mats & Dhurries </p>
<div style="padding: 15px 0px;">
    <h5> Home Décor </h5>
 </div>
<p class="margintop">  Pooja Essentials </p>
<p class="margintop"> Laptop Table </p>
<p class="margintop"> Ottomans </p>
<p class="margintop"> Artificial Flowers & Plants </p>
<p class="margintop"> Candles & Candle Holders </p>
<p class="margintop"> Clocks </p>
<p class="margintop"> Planters & Garden Accessories </p>
<p class="margintop"> Home Fragrances </p>
<p class="margintop"> Mirrors </p>
<p class="margintop"> Wall Art </p>
<p class="margintop"> Wall Décor </p>
<p class="margintop"> Wall Shelves </p>
<p class="margintop"> Showpieces & Vases </p>
<div style="padding: 15px 0px;">
    <h5> Lamps & Lighting </h5>
 </div>
<p class="margintop">  Floor Lamps </p>
<p class="margintop"> Table Lamps </p>
<p class="margintop"> Wall Lamp & String Lights </p>
<p class="margintop"> Bathroom Lights & Outdoor Lamps </p>
<p class="margintop"> Ceiling Lamps </p>
<div style="padding: 15px 0px;">
    <h5> Kitchen & Table </h5>
 </div>
 <p class="margintop">   Dinnerware </p>
 <p class="margintop">  Cups & Mugs </p>
<p class="margintop">  Water Bottles </p>
<p class="margintop">  Bakeware </p>
<p class="margintop">  Trays & Serveware </p>
<p class="margintop">  Bar & Drinkware </p>
<p class="margintop">  Cookware & Kitchen Tools </p>
<p class="margintop">  Kitchen Storage </p>
<p class="margintop">  Table Covers & Furnishings </p>
<div style="padding: 15px 0px;">
    <h5> Storage & Organisers </h5>
 </div>
 <p class="margintop"> Organisers </p>
 <p class="margintop"> Hooks & Holders </p>
    </div>
</div>
</div>
</div>
<div>
    <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478281102-Home-page-Desktop_12.jpg" alt="" style="width: 100%;">
</div>
<div  style=" background-color: rgb(220, 221, 222);">
<div class="row bottom" >
<div class="column7 zoom" style="padding: 0px 3px 10px 3px;">
    <img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517485441956-Wedding-checklist.jpg" alt=""  style="width: 100%;">
</div>
<div class="column7 zoom" style="padding: 0px 3px 10px 3px;">
<img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592904-Home-page-Desktop_14.jpg" alt="" style="width: 100%;">
</div>
<div class="column7 zoom" style="padding: 0px 3px 10px 3px;">
<img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592892-Home-page-Desktop_15.jpg" alt="" style="width: 100%;">
</div>
</div>
</div>
<div style="padding-left: 45px;">
    <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478696928-Home-page-Desktop_16.jpg" alt="" style="width: 100%;">
</div>
<div class="row" style="margin-left: 30px; margin-right: 30px;">
<div class="column4" style="padding: 0px 5px 35px 5px;">
<img class="zoom" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/26/13606c4a-14e9-48e4-a56a-a9c3979e7db21650971940091-swayam_logo_new_1980_x_1280.jpg" alt="" style="width: 100%;">
</div>
<div class="column4" style="padding: 0px 5px 35px 5px;">
<img class="zoom" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/ff6b8a0b-83fa-4f9f-bbb3-0fc51fd9454a1647517771374-updated-logo.jpg" alt="" style="width: 100%;">
</div>
<div class="column4" style="padding: 0px 5px 35px 5px;">
<img class="zoom" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/9830dff5-9056-402f-9bf0-ba3ead0abcaf1647499996169-SPACES---LOGO-01--BEDBATHRUGS-.jpg" alt="" style="width: 100%;">
</div>
<div class="column4" style="padding: 0px 5px 35px 5px;">
<img class="zoom" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/06f9e39d-a4d4-4ba4-b4cb-960c87ff5d511647499996189-M-S-Logo.jpg" alt="" style="width: 100%;">
</div>
<div class="column4" style="padding: 0px 5px 35px 5px;">
<img class="zoom" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/a38e440e-1ff7-4092-acbe-46d74b38384a1551443106457-Home-page-Desktop-Brands_13.jpg" alt="" style="width: 100%;">
</div>
</div>
<%- include("partials/footer") -%>