<%-include("partials/header")-%>
<div class="row" style="  margin-top: 75px;padding-top: 30px;">
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/24/48155a00-f594-4769-93d8-ddf2800db33a1656054250561-Sale-Ends-In-2-Days-_02.jpg"
        alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/26/6057de0d-0685-4a53-a511-a2fa9f4e46621656182353096-Last-Day-Of-Sale_03.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/26/8ae0b0a1-2d6f-4d17-9612-a1cf9039f2401656182353087-Last-Day-Of-Sale_04.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/24/adfd4ab3-cd0a-4025-8d89-82b746af0e781656054250585-Sale-Ends-In-2-Days-_05.jpg"
        alt="Mountains" style="width:100%">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/24/403c4e64-600f-4dd6-9f22-1fd812901dc01656054250592-Sale-Ends-In-2-Days-_06.jpg"
        style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/26/ad05cb46-6ba1-478e-a46c-ab7d7318dd801656182353071-Last-Day-Of-Sale_07.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/26/05250389-3b4d-4241-9bb2-273c2cf306d91656182353061-Last-Day-Of-Sale_08.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/24/b159e26f-74e5-4a23-b5ee-d1f7ad5d4f0c1656054250614-Sale-Ends-In-2-Days-_09.jpg"
        alt="Mountains" style="width:100%">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/24/6d782d8b-f5de-49a9-8619-4d0f3f9eca7a1656054250621-Sale-Ends-In-2-Days-_10.jpg"
        style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/26/cde07e5b-54cb-40cf-bcb4-eed5f3f766871656182353051-Last-Day-Of-Sale_11.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/26/8f464cf0-96bf-44f0-bb19-3ff1488784f31656182353037-Last-Day-Of-Sale_12.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column">
      <img
        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/24/ac7ff458-cb70-42a6-a8c4-d1d4981778331656054250643-Sale-Ends-In-2-Days-_13.jpg"
        alt="Mountains" style="width:100%">
    </div>
  </div>
  <div class="row">
    <div class="column1">
      <img
        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/25/99eea089-64d7-43b4-ba88-441171680e961656148643192-DK-extra20-_01.jpg"
        style="width:100%">
    </div>
    <div class="column1">
      <img
        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/25/a310343c-382c-41db-b695-dfdf0e98d2ff1656148643185-DK-extra20-_02.jpg"
        alt="Forest" style="width:100%">
    </div>
  </div>
  <div class="row">
    <div class="column2">
      <img
        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/42f68fe4-2d16-4987-9335-b6a648a140e01650446674915-Unbelievable-Deals.jpg"
        alt="" srcset="" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/b4dd6929-89b3-4488-af17-d317953f26dc1649920354195-BerryLush-_Street_9_and_more.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/b3230ef2-6993-480c-be0b-be11301687811649920354202-Bianca-_Trident_and_more.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/17/ee5795ec-405a-4f14-9c9b-09bdc1bcbe3b1655473331369-Boat_-_Noise.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/6dfdac8f-1bb8-4de9-92e1-4fde2828e5af1649920354226-Carlton_London-_Highlander_.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/4a9f6e00-b2bf-48f3-a3f7-723ee959ea8e1649920354233-Cartlon_London-Roadster-_Dressberry.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/38d8c974-d1fe-4d37-a462-2e1c3dbf71571650436644637-_1896574772-2F884133416-2F92c3811e_2b4c_417d_81c1_6f381c597120-2Fimage_jpeg1478333457.jpg"
        alt="Forest" style="width:100%">
    </div>

  </div>
  <div class="row">
    <div class="column2">
      <img
        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/ec66c836-84b2-4959-9187-ff6ab6f3ced71650446674907-Top-Brands-On-Offer.jpg"
        alt="" srcset="" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/dc2afb0e-9fd1-42f1-a70a-00b8d2562edd1649916689240-FM.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/6b79c8bd-7bbd-4389-bac4-6dbca8d77a4b1649916689233-CK_Jeans.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/16bc6923-9610-474a-812e-9f67cdaa9cf61649916689381-Vero_Moda.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/f6064714-9e34-479e-9291-4ff93ddbf8321649916689281-Marks_-amp-_Spencer.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/688ce336-6a2e-4753-90d4-a4ad953ddcdb1649916689299-ONLY.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/14/7a2bb6eb-6999-4ecd-9024-ccbe436d98811649916689248-Forever21.jpg"
        alt="Forest" style="width:100%">
    </div>

  </div>
  </div>
  <div class="row">
    <div class="column2">
      <div class="row">
        <img
          src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/a858762a-4fdb-4edc-a13c-cb6438f93ea21650446674890-Most-Loved-Brands.jpg"
          alt="" srcset="" width="100%">
      </div>
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/8e7d06cb-f2c8-4cfe-b0de-05174ea7eefd1650456811424-Catwalk.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/7fee22d3-e5e1-4817-a4af-ee6fc21206f81650456811791-Metro.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/d240e438-e1e5-4ba8-a42a-75ce0878ffc81650456811993-Red_Tape.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/d02db8c6-b4d6-4f2e-afa0-72c79ffb63df1650459686105-Carlton_London.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/2946ce6d-5c2c-4727-9193-00c96529d6571650455581682-Skechers.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/ba569bae-7838-4cec-a6d9-5b38811b6dd41650456811461-Crocs.jpg"
        style="width:100%">
    </div>

  </div>
  <div class="row">
    <div class="column2">

      <img
        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/6ddb94cd-9c1c-4dd2-94b2-bc1e7421188f1650446674899-Shop-By-Category.jpg"
        alt="" srcset="" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/e84d9018-b15d-4e7a-bc2f-e5cfc8a687521650446950974-Myntra-Sale-A-Bration-DK_02.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/c62212e0-4c25-4219-b475-58cfa35258821650446950981-Myntra-Sale-A-Bration-DK_03.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/7b588c4f-dadd-4d19-9449-35cac949474b1650446950990-Myntra-Sale-A-Bration-DK_04.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/be90e51d-856e-4ab9-bbe6-0655f2635fa51650446950997-Myntra-Sale-A-Bration-DK_05.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/20f6ef4f-21f0-4af0-89e5-e2bf6192c51c1650446951005-Myntra-Sale-A-Bration-DK_06.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/f3375892-a4ae-440d-8eb7-3dc77d612e431650446951013-Myntra-Sale-A-Bration-DK_07.jpg"
        style="width:100%">
    </div>

  </div>
  <div class="row">
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/b911aa1f-78a8-4bd7-b6a2-16316d94fb511650446951021-Myntra-Sale-A-Bration-DK_08.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/49f25a13-9da5-4745-87db-893069ef3ee01650446951029-Myntra-Sale-A-Bration-DK_09.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/d2689918-985d-4401-843c-ea26dd7b8d2b1650446951036-Myntra-Sale-A-Bration-DK_10.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/fd70307e-3791-4884-8ec9-34d723d01e3a1650446951044-Myntra-Sale-A-Bration-DK_11.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/d3d3fe36-07d6-46c4-9f66-af9f1f7740401650446951052-Myntra-Sale-A-Bration-DK_12.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/14aa81c9-0648-48d8-98e4-1e4961f956c61650446951061-Myntra-Sale-A-Bration-DK_13.jpg"
        style="width:100%">
    </div>

  </div>
  <div class="row">

    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/1145b9d6-3ffc-4115-aae4-a6fb28501f5b1650446951070-Myntra-Sale-A-Bration-DK_14.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/4059b479-a007-4c6f-8419-731bfff375161650446951078-Myntra-Sale-A-Bration-DK_15.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/02ff88c5-c5d4-4a8c-884f-f511f944ce171650446951087-Myntra-Sale-A-Bration-DK_16.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/4a753dac-a401-4d2c-a88a-03267a4d0c751650446951095-Myntra-Sale-A-Bration-DK_17.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/ac5d380f-6fa1-4fe6-af88-dc40d588df0d1650446951103-Myntra-Sale-A-Bration-DK_18.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/d1a65d8c-fc99-4337-91ce-de1018f23d4e1650446951110-Myntra-Sale-A-Bration-DK_19.jpg"
        style="width:100%">
    </div>

  </div>
  <div class="row">

    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/687b372b-2269-4dc5-b581-32a9b58363911650446951119-Myntra-Sale-A-Bration-DK_20.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/38ee91e4-242e-433e-b8f7-f03604f3f87e1650446951129-Myntra-Sale-A-Bration-DK_21.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/cb8333f1-25ef-4b3b-a5ce-25b13bab79051650446951137-Myntra-Sale-A-Bration-DK_22.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/94a64d84-a58c-4aed-af56-ee08b84f87641650446951146-Myntra-Sale-A-Bration-DK_23.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/5655fa4b-2f20-4780-b317-b538b20db8211650446951154-Myntra-Sale-A-Bration-DK_24.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/2faa49c0-fe05-4c1f-8297-dd3cb00c7c101650446951164-Myntra-Sale-A-Bration-DK_25.jpg"
        style="width:100%">
    </div>

  </div>
  <div class="row">

    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/a1ea485a-7a13-427e-98b5-03f4c63be06a1650446951172-Myntra-Sale-A-Bration-DK_26.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/bf3fb3c3-374c-4c8b-8778-7d72233f64581650446951181-Myntra-Sale-A-Bration-DK_27.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/c45e99e6-f105-43e4-ad1b-2f2851b8136c1650446951191-Myntra-Sale-A-Bration-DK_28.jpg"
        alt="Mountains" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/9a9e4520-fb63-45a3-872d-ca0e51fe28c11650446951200-Myntra-Sale-A-Bration-DK_29.jpg"
        style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/4881362e-e28c-408a-b9ca-62dab9cb229b1650446951209-Myntra-Sale-A-Bration-DK_30.jpg"
        alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <img
        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/c0e9eade-a9d3-4efb-9b18-164fe84b3dc81650446951219-Myntra-Sale-A-Bration-DK_31.jpg"
        style="width:100%">
    </div>

  </div>
  <div class="row">
    <div class="column1">
      <img
        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/25403947-000b-4ac6-9f54-22a7fa7faa7a1650446951228-Myntra-Sale-A-Bration-DK_32.jpg"
        alt="" width="100%">
    </div>
    <div class="column1">
      <img
        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/20/b949160d-9dba-449e-af7e-59d43cb46e621650446951237-Myntra-Sale-A-Bration-DK_33.jpg"
        alt="" width="100%">
    </div>
  </div>
  <%- include("partials/footer") -%>